.frame-1 {
  opacity: 0;
}

.frame-2 {
  opacity: 0;
  margin-top: 100px;
}

.frame-3 {
  opacity: 0;
}

.frame-4 {
  opacity: 0;
}

.frame-5 {
  opacity: 0;
}

.frame-6 {
  opacity: 0;
  margin-top: 100px;
}

.frame-7 {
  opacity: 0;
}

.frame-8 {
  opacity: 0;
}

.frame-9 {
  opacity: 0;
  margin-top: 150px;
}

.frame-10 {
  opacity: 0;
}

.frame-11 {
  opacity: 0;
}
