.worldmap-viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.worldmap {
  width: 100%;
  height: auto;
  position: absolute;
  transform-origin: center center;
}

.card {
  position: absolute;
  opacity: 0;
  right: 0;
}

.card-frame {
  position: relative;
}

.card-img {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
}

.card-content {
  position: absolute;
  background: #fef5cf;
  width: 480px;
  height: 900px;
  padding: 400px 40px 0 40px;
  margin: 20px 0 20px 20px;
}

.character-1 {
  position: absolute;
  left: 350px;
  top: 300px;
  opacity: 0;
}

.character-2 {
  position: absolute;
  left: 400px;
  top: 310px;
  opacity: 0;
}

.character-3 {
  position: absolute;
  left: 250px;
  top: 450px;
  opacity: 0;
}
