.worldmap-viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.worldmap {
  width: 100%;
  height: auto;
  position: absolute;
  transform-origin: center center;
}

.card {
  position: absolute;
  background: #fef5cf;
  opacity: 0;
}

.card-frame {
  position: relative;
}

.card-img {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
}

.card-content {
  position: absolute;
  margin: 400px 70px 0 70px;
}
