* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  scroll-behavior: smooth;
}

header {
  color: white;
}

p {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  letter-spacing: 0.45px;
}

h2 {
  font-family: "CabinetGrotesk", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
}

h3 {
  margin-top: 80px;
  margin-left: 180px;
  position: absolute;
  font-family: "CabinetGrotesk", sans-serif;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

footer {
  color: white;
  background: #e14a5c;
  padding: 100px 30px 10px 30px;
}

a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 0.6px;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  text-align: center;
  padding-top: 90px;
}

nav {
  padding-top: 50px;
}
