* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header {
  color: white;
  background-image: url(/img/header_parallax.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

footer {
  color: white;
  background: #e14a5c;
}
