@font-face {
  font-family: "CabinetGrotesk";
  src: url("/fonts/CabinetGrotesk-Extrabold.woff2"),
    url("/fonts/CabinetGrotesk-Extrabold.woff");
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  letter-spacing: 0.45px;
}

h2 {
  font-family: "CabinetGrotesk", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
}

h3 {
  margin-top: 80px;
  margin-left: 180px;
  position: absolute;
  font-family: "CabinetGrotesk", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
