/*
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/
.l-storytelling {
  background: linear-gradient(
    180deg,
    #000 0%,
    #1a1a1a 30.69%,
    #e14a5c 51.19%,
    #e14a5c 80.19%,
    #e73e84 100%
  );
  padding: 150px 0;
}

.l-logo {
  filter: invert(1);
}

.l-selling-section {
  margin: 100px 0;
}

.l-storytelling-gap-spacing {
  margin-bottom: 150px;
}

.container > * {
  margin-bottom: 20px;
}

.container > *:last-child {
  margin-bottom: 0;
}

.l-header-logo-container {
  position: absolute;
  z-index: 1;
  scale: 2;
  top: 150px;
  right: 240px;
}

.l-footer-icons {
  display: flex;
  justify-content: space-between;
}

.l-logo-dargaud {
  padding-top: 80px;
}

.l-button {
  color: white;
  background: black;
  border-radius: 5px;
  padding: 12px;
}

.l-button:hover {
  color: white;
  background: #e14a5c;
  transition: 0.2s;
}

.l-button-container {
  padding: 60px 0;
}
